{% extends 'pesenin/base.html' %}

{% load static %}
{% block custom_styles %}
<link rel="stylesheet" href="{% static 'comingcss/style.css' %}">
{% endblock custom_styles %}
{% block content %}

<body>
    <div class="row">
        <div class="row" style="display: flex;align-items: center;">
            <div class="col s12 m6 l4">
                <img src="../../static/img/LOGO.png" style="size: 300px;" alt="Logo">
            </div>
            <div class="col s12 m6 l8">
                <div class="header">
                    <strong>
                        <h1>Coming Soon.</h1>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}