{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='queue' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="container ml-5">
            <h1 class="display-3 font-weight-bold m-auto">
                <p class="no-deco text-warning">Search</p>
            </h1>
            {% if user.is_authenticated %}
            <div class="text-center mt-3 mx-3" style="width: 250px;height: auto;">
                <a href="{% url 'merchant:makanan'%}">
                    <img class="rounded" src="{{ merchants.link_gambar }}" style="object-fit: contain;" width="100%" height="100%">
                </a>
            </div>
            {% endif %}
            <h3 class="display-5 font-weight-bold m-auto mt-5">
                <p class="no-deco text-dark mt-5">{{ error }}</p>
            </h3>
            <a href="{% url 'merchant:merchant' %}" class="btn btn-danger btn-lg active mt-5" role="button"
                aria-pressed="true">Back</a>
        </div>
    </div>
</body>
{% endblock content %}