{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='merchant' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="container">
            <div class="row" style="align-content: center">
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <h1>Merchant 1</h1> -->
                    <div class="gambar">
                        <img src="../../static/merchant/img/51881839-portrait-of-smiling-cashier-working-in-grocery-store.jpg" style="object-fit: contain;width: 100%;height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <h1>Merchant 2</h1> -->
                    <div class="gambar">
                        <img src="../../static/merchant/img/51881839-portrait-of-smiling-cashier-working-in-grocery-store.jpg" style="object-fit: contain;width: 100%;height: 100%;" alt="">
                    </div>
                </div>
            </div>
            <div class="row" style="align-content: center">
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <h1>Merchant 3</h1> -->
                    <div class="gambar">
                        <img src="../../static/merchant/img/51881839-portrait-of-smiling-cashier-working-in-grocery-store.jpg" style="object-fit: contain;width: 100%;height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <h1>Merchant 4</h1> -->
                    <div class="gambar">
                        <img src="../../static/merchant/img/51881839-portrait-of-smiling-cashier-working-in-grocery-store.jpg" style="object-fit: contain;width: 100%;height: 100%;" alt="">
                    </div>
                </div>
            </div>
    </div>
</body>
{% endblock content %}