{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='merchant' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="container">   
            <div class="row" >
                    {% for items in penjual %}
                <div class="col-6" >
                    {{ items.nama_merchant }}
                    {{ items.desc }}
                    <img src="{{ items.link_gambar }}" style="object-fit: contain" width="100%" height="100%" alt="">
                    <button></button>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock content %}