{% extends 'pesenin/base.html' %}

{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>1. Merchant</p>
                </div>
                <div class="col">
                    <p>2. Merchant</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>3. Merchant</p>
                </div>
                <div class="col">
                    <p>4. Merchant</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>5. Merchant</p>
                </div>
                <div class="col">
                    <p>6. Merchant</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
{% endblock content %}