/*
 * Globals
 */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body {
    height: 100%;
    background-color: #F6F3EA;
    font-family: 'Poppins', sans-serif;
}

/* Layouts */

.mw-75 {
    max-width: 75%;
}

/* Fonts */

.font-weight-medium {
  font-weight: 500 !important;
}

.no-deco {
  text-decoration: none !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#backnav{
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    background: #8BB03E;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #8BB03E;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    height: 250px;
}

#sidebar .sidebar-header img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding-left: 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
}
#sidebar ul li a:hover {
    color: #FDB201;
    background: #FDB201;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#sidebar .user{
    margin-top: 80px;
  bottom: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}