{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='queue' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="container ml-5">
            <h1 class="display-3 font-weight-bold m-auto">
                <p class="no-deco text-warning">Queue</p>
            </h1>
            {% if user.is_authenticated %}
            {% for items in antrian %}
            <div class="card kartu mt-3">
                <div class="card-header">
                    <strong>A60</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="foodicon">
                                <img src="{{ items.foto }}" alt="" class="rounded-circle">
                            </div>
                        </div>
                        <div class="col-10 pt-3">
                            <h5 class="card-title">{{ items }}</h5>
                            <p class="card-text text-danger">{{ items.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="display-5 font-weight-bold m-auto mt-5">
                <p class="no-deco text-dark mt-5">Sorry You have to log in to see the queue.</p>
            </h3>
            {% endif %}
        </div>
    </div>
</body>
{% endblock content %}