{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='contact' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}


<body>
    <div class="container">
        <h1 class="title">CONTACT US TROUGH:</h1>
        <table class="table teks table-borderless table-responsive-sm table-responsive-md">
            <tbody>
              <tr>
                <td>IG</td>
              </tr>
              <tr>
                <td>FB</td>
              </tr>
              <tr>
                <td>TWITTER</td>
              </tr>
            </tbody>
        </table>
        <h2 class="title sub">SAY SOMETHING!</h2>
        <p class="teks">Take part on our feedback form</p>
        <button type="button" class="btn btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off">
            SUBMIT FORM
          </button>
    </div>
</body>
{% endblock content %}