{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='contact' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}


<body>
    <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-9">
            <h1 class="title">CONTACT US THROUGH :</h1>
          </div>
      </div>
        <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3"><br>
                <a href="mailto:peseninherokuapp@gmail.com" target="_blank">
                  <img class="img-fluid" src="../../static/img/email.png" alt="Email" width="125" height="125">
                </a>
              </div>
              <div class="col-md-3 col-sm-12 col-12"><br>
                <p class="contact">Email</p>
                <p class="contact">peseninherokuapp@gmail.com</p>
              </div>
            </div>
              

            <div class="row">
              <div class="col-md-3 col-sm-3 col-3"><br>
                <a href="https://www.instagram.com/pesenin_herokuapp/" target="_blank">
                <img class="img-fluid" src="../../static/img/ig.png" alt="Instagram" width="125" height="125">
                </a>
              </div>
              <div class="col-md-3 col-sm-12 col-12"><br>
                <p class="contact">Instagram</p>
                <p class="contact">@pesenin_herokuapp</p>
              </div>
            </div>
          </div>  

        <div class="row">
          <div class="col-md-12 col-sm-12 col-12"><br><br>
              <h2 class="title2">SAY SOMETHING!</h2>  
              <p class="teks">Take part on our feedback form</p> 
          </div>
        </div>
     

        <div class="container">
          <div class="row align-items-end">
            <div class="col-md-3 col-sm-6 col-12">
                <a class="btn btn-primary btn-lg" href="{% url 'form:feedbackform' %}" role="button">SUBMIT FORM</a>       
            </div> 
          </div>       
      </div>
    </div>


    </div>  
</body>
{% endblock content %}