<div class="sidebar-header align-items-center" href="{% url 'index' %}" style="z-index: 9999;">
    <a href="{% url 'login:home' %}"><img src="../../static/img/LOGO.png"></a>
</div>

<ul class="list-unstyled components">
    <li class="mx-2 text-center">
        <a class="nav-link{% if current_nav == 'home' %} font-weight-bold text-light{% endif %} text-light"
            href="{% url 'login:home' %}">Home</a>
    </li>
    <li class="mx-2 text-center">
        <a class="nav-link{% if current_nav == 'merchant' %} font-weight-bold text-light{% endif %} text-light"
            href="{% url 'merchant:merchant' %}">Merchant</a>
    </li>
    <li class="mx-2 text-center">
        <a class="nav-link{% if current_nav == 'queue' %} font-weight-bold text-light{% endif %} text-light"
            href="{% url 'antrian:queue' %}">Queue</a>
    </li>
    <li class="mx-2 text-center">
        <a class="nav-link{% if current_nav == 'contact' %} font-weight-bold text-light{% endif %}  text-light"
            href="{% url 'form:contact' %}">Contact</a>
    </li>
    <div class="user">
        {% if user.is_authenticated %}
        <li class="mx-2 text-center">
            <a class="nav-link{% if current_nav == 'profile' %} font-weight-bold text-light{% endif %} text-light"
                href="{% url 'login:profile' %}">Profile</a>
        </li>
        <li class="mx-2 text-center">
            <a class="nav-link text-light" href="{% url 'login:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="mx-2 text-center">
            <a class="nav-link text-light" href="{% url 'login:login' %}">Login</a>
        </li>
        {% endif %}
    </div>
</ul>