{% load static %}
<!doctype html>
<html>

<head>
    {% include 'components/head.html' %}
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">
            {% block navbar %}
            {% include 'components/navbar.html' %}
            {% endblock navbar %}
        </div>

        <div id="content">
            {% block main_container %}
            <button type="button" id="sidebarCollapse" class="btn btn-outline-warning m-3">
                <span></span>
                <span></span>
                <span></span>
            </button>
            {% block content %}
            {% endblock content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#content").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    {% block custom_scripts %}
    {% endblock custom_scripts %}
</body>

</html>