{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='merchant' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div class = "container">
        <div class = "row">
            <div class="col-6 text-center">
                <img src = "../../../static/img/Asset/Kasir/makanan.png" style = "width:450px">
            </div>
            <div class="col-6 text-center">
                <a href = "{% url 'merchant:makanan' %}"><img src = "../../../static/img/Asset/Kasir/makanan.png" style = "width:450px"></a>
            </div>
            <div class="col-6 text-center">
                <a href = "{% url 'merchant:makanan' %}"><img src = "../../../static/img/Asset/Kasir/makanan.png" style = "width:450px"></a>
            </div>
            <div class="col-6 text-center">
                <a href = "{% url 'merchant:makanan' %}"><img src = "../../../static/img/Asset/Kasir/makanan.png" style = "width:450px"></a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}